<h1><%= @diary.title %></h1>

<div class="block">
  <table class="profile">
    <thead>
      <tr>
        <th>ID</th>
        <th>Date</th>
        <th>Title</th>
        <th>Article</th>
        <% if logged_in? && current_user %>
          <th></th>
          <th></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td><%= @diary.id %></td>
        <td><%= @diary.date %></td>
        <td><%= @diary.title %></td>
        <td><%= @diary.article %></td>
        <% if logged_in? && @user == current_user %>
          <td><%= link_to "Edit", edit_diary_path(@diary) %></td>
          <td><%= link_to "Delete", diary_path(@diary), method: :delete, data: { confirm: "Are you sure?" } %></td>
        <% end %>
      </tr>
    </tbody>
  </table>

  <p><%= link_to 'new diary', new_diary_path, class:"return-link" %></p>
  <%= link_to 'return to all diaries', diaries_path, class:"return-link" %>
</div>